$fontSize: 1.25em;
$width: 60%;

.register-form-container{   
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(125deg, rgb(0, 155, 255), rgb(255, 0, 149));

    border-radius: 10px;

}

#closeRegisterForm:hover, #signupBtn:hover, #cancelBtn:hover {
    cursor: pointer;
}   

#closeRegisterForm {
    position: absolute;
    top: 0;
    right: 0;

    background-color: red;
    color: #ffffff;

    font-size: 2em;

    border-radius: 10px;

    margin: 2% 2% 0 0;

    border: none;
}


.register-form, .inputs-register, .buttons-register{
    display: flex;
}

.register-form{      
  
    flex-direction: column;  

    align-items: center; 

    background-color: #ffffff;

    border-radius: 10px;

    box-shadow: 1px 1px 5px gray;

}

h1, .inputs-register {
    font-family: 'Poppins', sans-serif;
}

h1 {    
    width: 100%;

    font-weight: bold;

    text-align: center;

    color: #000000;
    border-radius: 5px;

    margin-top: 3%;
      
}

.inputs-register, .btn-signup, .btn-cancel, #firstName, #lastName, #email, #password, #confirmPassword {
    font-size: $fontSize;
}

.inputs-register {      
    flex-direction: column;
      
    margin: 5% 0 10% 0;
}

.buttons-register{   
    flex-direction: row;  

    align-items: center;
    justify-content: center;
    margin-top: 3%; 
}

#cancelBtn{
    margin-left: 15%;
}

.btn-signup, .btn-cancel {      
    color: #ffffff;

    font-weight: bold;

    border-radius: 5px;
}

#signupBtn, #cancelBtn {
    background-color: #00a2ff;
}

#signupBtn:disabled {
    background-color: rgb(168, 168, 168);
}

#registerFirstNameLabel, #registerLastNameLabel, #registerEmailLabel, #registerPasswordLabel, #confirmPasswordLabel {  
    color: #000000;

    font-size: 0.85em;
    font-weight: bold;

    margin-bottom: 2%;
}

#registerPasswordLabel, #registerFirstNameLabel, #registerLastNameLabel, #confirmPasswordLabel {
    margin-top: 5%;
}

#rememberMe {
    font-size: 0.8em;
}

.error-message-container{
    color: red;
    font-size: 0.85em;
}


@media all and (min-width: 20em) {
    .register-form-container {     
        width: 100vw;
        height: 100vh;    
        
        z-index: 99;

        opacity: 1;
    }

    .register-form {
        width: 300px;
        height: 600px;

        z-index: 99;
    }

    .inputs-register {
        width: 95%;
    }

    .buttons-register {
        width: 80%;
    }
}



@media all and (min-width: 50em) {
    .register-form-container {
        width: 700px;
        height: 750px;
    
        position: absolute;
        top: 15%;
        left: calc(100% - $width);
    }

    .register-form {
           
        width: 400px;

        height: 600px;   
        
    }

    .inputs-register {
        width: 80%;
    }

    .buttons-register {
        width: 100%;
    }
}