$base-color: #4000ff;

.dashboard-left-container h2, .dashboard-right-container h2 {
    color: #0000ff;
    font-family: Helvetica, sans-serif, Arial;
    font-weight: bold;       
}

@media all and (min-width: 20em) {
    .dashboard-container {              
        position: absolute;

        top: 10%;
        left: 0;

        width: 100vw;
        height: 300vh;  

        display: flex;  
        flex-direction: column;     
        
        z-index: 0;        
    }
    
    .dashboard-left-container, .dashboard-right-container {
        position: relative;
        margin: 0 0 0 0;     
        
        width: 100%;
        height: 100%;
    }

    .dashboard-top-container, .dashboard-bottom-container {
        position: relative;
        display: flex;
        flex-direction: column;

        width: 100%;      

        margin: 5% 0 5% 0;
       
    }

    .dashboard-item-container {      
        display: flex;
        flex-direction: column;

        justify-content: center;

        align-items: center;

        font-size: 1.25em;

        margin: 10% 0 10% 0;     
    }
   
    .dashboard-item-container img {
        width: 50%;
        margin: 0 0 0 0;            
    }

    .dashboard-container h2 {
        font-size: 1em;
    }

    .dashboard-right-container h2{
        text-align: center;
        font-size: 1.25em;
    }   

    .market-watch-container {
        width: 70%;
        height: 85%;
        background-image: url('../../../assets/images/cyrpto-prices.png');
        background-repeat: no-repeat;
        background-size: cover;
        
        box-shadow: 2px 2px 15px lightgray;

        margin: 5% auto;
    }   
  
}

@media all and (min-width: 50em) {
    .dashboard-container {
        position: absolute;
        top: 8%;
        left: 18%;
    
        width: 80vw;
        height: 90vh;
        
        display: flex; 
        flex-direction: row;

    }
    
    .dashboard-left-container, .dashboard-right-container {
        width: 45%
    }
    
    .dashboard-left-container {
        margin-right: 5%;
    }
    
    .dashboard-right-container {
        margin-top: 1%;
    }

    .dashboard-top-container, .dashboard-bottom-container{
        width: 100%;
        height: 45%;
    
        display: flex;
        flex-direction: row;
    
        align-items: center;
        justify-content: space-evenly;   

        margin-top: 0;
    
    }
    
    .dashboard-top-container{
        margin-bottom: 0;
    }

    
    .dashboard-item-container {
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        
        font-family: 'Poppins', sans-serif;
    
        color: #000000;
              
        border-radius: 10px; 
    
    }
    
    .dashboard-item-container h2 {
        margin-left: 2%;
    }
    
    .dashboard-item-container img {
        margin: 0 auto;
    }
    
    .portfolio img {
        width: 75%;
    }
    
    .market img {
        width: 65%;
    }
    
    .trending img {
        width: 75%;
    }
    
    .news img {
        width: 75%;
    }
    
    .market-watch-container {
        width: 100%;
        height: 85%;
        background-image: url('../../../assets/images/cyrpto-prices.png');
        background-repeat: no-repeat;
        background-size: cover;
        
        box-shadow: 2px 2px 15px lightgray;

        margin-top: 0;
    }   
    
}