<div class="dashboard-container">
    <div class="dashboard-left-container">
        <div class="dashboard-top-container">   
            <div class="dashboard-item-container portfolio">
                <h2>Porfolio: </h2>
                <img src="../../../assets/images/portfolio.jpg" alt="Crypto Currency App Porfolio Image">
            </div>
            <div class="dashboard-item-container market">
                <h2>Market Overview: </h2>
                <img src="../../../assets/images/market.jpg" alt="Crypto Currency App Market Image">
            </div>                           
        </div>
        <div class="dashboard-bottom-container">
            <div class="dashboard-item-container trending">
                <h2>Trending: </h2>
                <img src="../../../assets/images/trending.png" alt="Crypto Currency App Trending Image">
            </div>   
            <div class="dashboard-item-container news">
                <h2>News: </h2>
                <img src="../../../assets/images/news.png" alt="Crypto Currency App News Image">
            </div>               
        </div>
    </div>
    <div class="dashboard-right-container">
        <h2>Current Crypto Prices: </h2>
        <div class="market-watch-container"></div>        
    </div>
</div>