<div class="app-header-container">
  
  <div *ngIf="showSmallDisplay" class="sidenavbar-menu-icon" (click)="openSideNavMenu()">
        <img *ngIf="!boolShowRegisterForm" src="../../../assets/images/hamburger-icon.png" alt="Mobile Navbar Menu Icon" id="mobileSideNavbarIcon">
    </div>

    <div *ngIf="showSideNavMenu" class="sidenavbar-container">
    
        <button type="button" class="btn btn-close" (click)="closeSideNavMenu()">&times;</button>

        <ul id="sideNavBarMenu">

            <li>Home</li>
            <li>Overview</li>
            <li>Transactions</li>
            <li>Reports</li>
            <li>Settings</li>
            <li *ngIf="loggedIn" (click)="updateAccount()" id="updateUserLink">Update</li>
            <li (click)="showLoginForm()" *ngIf="!loggedIn"> {{ loginLogout }} </li>
            <li *ngIf="loggedIn" id="logoutLink" (click)="logoutUser()"> {{ loginLogout }} </li>
        
        </ul>

    </div>

    <div *ngIf="showLargeDisplay" class="header-container">

        <ul>
            <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
            <li>Overview</li>
            <li>Transactions</li>
            <li>Reports</li>
            <li class="sub-menu-container" (click)="toggleSubMenu()">
                <!-- <img src="../../../assets/images/account-icon.png"> -->
                <ul class="user-account-menu" *ngIf="showSubMenu">               
                    <li *ngIf="loggedIn" (click)="updateAccount()" id="updateUserLink">Update</li>
                    <li (click)="showLoginForm()" *ngIf="!loggedIn"> {{ loginLogout }} </li>                    
                    <li *ngIf="loggedIn" id="logoutLink" (click)="logoutUser()"> {{ loginLogout }} </li>     
                </ul>           
            </li>      
            <span class="name-container"> {{ firstName }} </span>
        </ul>    
    </div>

    <app-login 
        *ngIf="boolShowLoginForm"                          
        (onLogin)="updateLogin($event)"
        (showLoginForm)="onShowLogin($event)"
        (showRegisterForm)="onShowRegister($event)"
        (getUserName)="showUserName($event)"
    >      
    </app-login>

    <app-register 
        *ngIf="boolShowRegisterForm"        
        (showRegisterForm)="onCloseRegister($event)"
        (showLoginForm)="onShowLogin($event)"
    >
    </app-register>

    <app-update
        *ngIf="boolShowUpdateForm"
        (showUpdateForm)="onCloseUpdate($event)"
        (getUserName)="showUserName($event)"
    >
    </app-update>

</div>