<div  *ngIf="showSideNav" class="sidenavbar-container">
    
    <div class="sidenavbarTitle">

        <h2>Quick Links</h2>
        
    </div>    

    <div class="quick-links-container">
        <ul class="quick-links-list-container">
           <li>Portfolio</li>
           <li>Buy/Sell</li>
           <li>Wallet</li>
           <li>Market Trends</li>
        </ul>
    </div>   

    <mat-divider class="quick-links-divider"></mat-divider>

    <div class="sidenavbar-image-container">

        <div class="sidenavbar-image-container-left">

            <div class="markets-na">

                <div class="markets-container-top">

                    <h2>NA Markets</h2>

                </div>

                <div class="markets-container-bottom">

                    <img src="../../../assets/images/markets-us.png">   

                </div>

            </div>

            <div class="markets-euro">

                <div class="markets-container-top">

                    <h2>European Markets</h2>

                </div>

                <div class="markets-container-bottom">

                    <img src="../../../assets/images/markets-euro.png">

                </div>

            </div>

        </div>
        
        <div class="sidenavbar-image-container-right">
    
            <div class="markets-asia">
    
                <div class="markets-container-top">

                    <h2>Asian Markets</h2>

                </div>

                <div class="markets-container-bottom">

                    <img src="../../../assets/images/markets-us.png">   

                </div>

            </div>

        </div>

    </div>

</div>