<div class="login-form-container">
    
    <button type="button" id="closeLoginForm" (click)="closeLoginForm()">&times;</button>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

        <h1>Login</h1>

        <div class="message-container">
            {{ messageToUser }}
        </div>

        <div class="inputs-login">
            <label id="loginEmailLabel" for="email">Email: </label>
            <input id="email" type="email" formControlName="email" (keydown)="clearError($event)">
            <mat-checkbox formControlName="rememberMe" (change)="onChange()" id="rememberMe">Remember Me</mat-checkbox>  
  
            <label id="loginPasswordLabel" for="password">Password: </label>
            <input id="password" type="password" formControlName="password" #password> 
            <a id="forgotPassword" (click)="resetPassword()">Forgot Password?</a>
        </div>

        <div class="buttons-login">
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-login-form" id="loginBtn">Log In</button>
            <button type="button" class="btn btn-login-form" id="cancelBtn" (click)="closeLoginForm()">Cancel</button>
        </div>

        <p class="message-container-signup">Not registered? Sign up <span (click)="onShowSignUp()" class="signup-link">here</span></p>

    </form>

</div>