$fontSize: 1.25em;
$width: 60%;

.login-form-container{

    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(125deg, rgb(0, 155, 255), rgb(0, 81, 255));
  
    border-radius: 15px;

    z-index: 10;   
}

#closeLoginForm {

    position: absolute;
    top: 0;
    right: 0;

    background-color: red;
    color: #ffffff;

    font-size: 2em;

    border-radius: 10px;

    margin: 2% 3% 0 0;

    border: none;
}

#closeLoginForm:hover {
    cursor: pointer;
}

.login-form, .inputs-login, .buttons-login{
    display: flex;
}

.login-form{   
     
    flex-direction: column;  

    align-items: center; 

    background-color: #ffffff;

    border-radius: 10px;

    box-shadow: 1px 1px 5px gray;

}

h1, .inputs-login, .message-container {
    font-family: 'Poppins', sans-serif;
}

h1 {    
    width: 100%;

    font-weight: bold;

    text-align: center;

    color: #000000;
    border-radius: 5px;

    margin-top: 3%;
      
}

.message-container {
    color: red;
}

.inputs-login, .btn-login-form, #email, #password {
    font-size: $fontSize;
}

.inputs-login {   
 
    flex-direction: column;
      
    margin: 10% 0 10% 0;
}

#loginEmailLabel, #loginPasswordLabel {

    font-family: 'Poppins', sans-serif;

    font-weight: 800;

    font-size: 1em;

    color: #000000;

    margin-bottom: 2%;
}

#loginPasswordLabel {
    margin-top: 10%;
}

#rememberMe {
    font-size: 0.85em;
    color: #000000;
    margin-left: 1%;
}

#forgotPassword {    
    font-size: 0.85em;
    color: #0000ff;
    margin-left: 1%;
}

#forgotPassword:hover {
    cursor: pointer;
    text-decoration: underline;
}

.buttons-login{     
    flex-direction: row;  
    justify-content: center;    

    margin-top: 3%; 
}

.btn-login-form {      
    color: #ffffff;

    font-weight: bold;

    border-radius: 5px;
}

#loginBtn {
    background-color: #0000ff;
}

#signUpBtn {
    background-color: rgb(1, 120, 255);
}

#loginBtn:disabled {
    background-color: rgb(168, 168, 168);
}

#cancelBtn {
    background-color: red;
    margin-left: 15%;
}

.message-container-signup{
    color: #000000;
    margin-top: 4%;
}

.signup-link {
    color: blue;
    font-size: 1.15em;
}

.signup-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media all and (min-width: 20em) {
    .login-form-container {
        width: 100vw;
        height: 80vh;     
    }

    .login-form {
        width: 300px;
        height: 450px;
    }

    .inputs-login {
        width: 95%;
    }

    .buttons-login {
        width: 80%;
    }
}



@media all and (min-width: 50em) {
    .login-form-container {
        width: 600px;
        height: 600px;
    
        top: 20%;
    
        left: 40%;
    }

    .login-form {
           
        width: 400px;

        height: 450px;  
    }

    .inputs-login {
        width: 80%;
    }

    .buttons-login {
        width: 80%;
    }
}