<div class="reset-password-form-container">

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-password-form">
        
        <button type="button" id="closePasswordForm" (click)="closeResetPasswordForm()">&times;</button>

        <h1>RESET PASSWORD</h1>

        <div class="message-to-user-container">

            {{ messageToUser }}

        </div>

        <div class="inputs-reset">

            <label id="resetPasswordLabel" for="password">New Password: </label>
            <input id="password" type="password" formControlName="password" (blur)="checkPassword()" (keydown)="clearErrors($event)">
            
            <div *ngIf="boolPasswordError" class="error-message-container">
                {{ errorMessagePassword }}
            </div>             

            <label id="confirmPasswordLabel" for="confirmPassword">Confirm Password: </label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword" (blur)="checkPasswordMatch()" (keydown)="clearErrors($event)">

            <div class="error-message-container">
                {{ errorMessageConfirmPassword }}
            </div>

        </div>

        <div class="buttons-reset">
            <button type="submit" [disabled]="!resetPasswordForm.valid" class="btn btn-reset" id="resetBtn">Submit</button>
            <button type="button" class="btn btn-cancel" id="cancelBtn" (click)="closeResetPasswordForm()">Cancel</button>
        </div>

    </form>

</div>