$fontSize: 1.25em;
$width: 60%;

.reset-password-form-container {
    width: 600px;
    height: 500px;

    position: absolute;
    top: 15%;
    left: calc(100% - $width);

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(125deg, rgb(0, 155, 255), rgb(255, 0, 149));
   
    border-radius: 10px;

    z-index: 12;
}

#closePasswordForm:hover, #resetBtn:hover, #cancelBtn:hover {
    cursor: pointer;
}   

#closePasswordForm {

    position: absolute;
    top: 0;
    right: 0;

    background-color: red;
    color: #ffffff;

    font-size: 2em;

    border-radius: 10px;

    margin: 2% 2% 0 0;

    border: none;
}


.reset-password-form, .inputs-register, .buttons-register {
    display: flex;
}

.reset-password-form {   
    
    width: 400px;

    height: 350px;   
    
    flex-direction: column;  

    align-items: center; 
    
    background-color: #ffffff;

    border-radius: 10px;

    box-shadow: 1px 1px 5px gray;

}

h1, .inputs-reset {
    font-family: 'Poppins', sans-serif;
}

h1 {    
    width: 100%;

    font-weight: bold;

    text-align: center;

    color: #000000;
    border-radius: 5px;

    margin-top: 3%;
      
}

.inputs-reset, .btn-reset, .btn-cancel, #password, #confirmPassword {
    font-size: $fontSize;
}

.inputs-reset {   
    width: 80%;
    flex-direction: column;
       
    margin: 5% 0 10% 5%;
}

#password {
    margin-bottom: 5%;
}

.buttons-reset{   
    width: 100%;
    flex-direction: row;  

    align-items: center;
 
}

#resetBtn, #cancelBtn {
    background-color: #00a2ff;
}

#resetBtn{
    margin-left: 12%;
}

#resetBtn:disabled {
    background-color: rgb(168, 168, 168);
}

#cancelBtn{
    margin-left: 15%;
}

.btn-reset, .btn-cancel {      
    color: #ffffff;

    font-weight: bold;

    border-radius: 5px;
}


#resetPasswordLabel, #confirmPasswordLabel {  
    color: #000000;

    font-size: 0.85em;
    font-weight: bold;

    margin-bottom: 2%;
}

#resetPasswordLabel, #confirmPasswordLabel {
    margin-top: 5%;
}

.message-to-user-container {
    color: #0000ff;
}

.error-message-container{
    color: red;
    font-size: 0.85em;
}