<div class="update-form-container">
    
    <button type="button" id="closeUpdateForm" (click)="closeUpdateForm()">&times;</button>

    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="update-form">

        <h1>Edit Account</h1>

        <div class="inputs-update">
            <label id="updatePasswordLabel" for="password">New Password: </label>
            <input id="password" type="password" formControlName="password" (blur)="checkPassword()" (keydown)="clearErrors($event)">
            
            <div class="error-message-container">
                {{ errorMessagePassword }}
            </div>
            
            <label id="confirmPasswordLabel" for="confirmPassword">Confirm Password: </label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword" (blur)="checkPasswordMatch()" (keydown)="clearErrors($event)">
            
            <div class="error-message-container">
                {{ errorMessageConfirmPassword }}
            </div>

            <label id="updateFirstNameLabel" for="firstName">First Name: </label>
            <input id="firstName" type="text" formControlName="firstName" [value]="firstName">
              
            <label id="updateLastNameLabel" for="lastName">Last Name: </label>
            <input id="lastName" type="text" formControlName="lastName" [value]="lastName">        
         
        </div>

        <div class="buttons-update">
            <button type="submit" [disabled]="!updateForm.valid" class="btn btn-updateAccount" id="updateAccountBtn">Update</button>
            <button type="button" class="btn btn-cancel" id="cancelBtn" (click)="closeUpdateForm()">Cancel</button>
        </div>

    </form>

</div>
